* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background: #fff; /* Added background color */
}

.logo {
    color: #000; /* Changed color to black */
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span {
    color: #fb911f;
}

.navbar {
    display: flex;
    position: relative;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #000; /* Changed color to black */
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve {
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reserve:hover {
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover {
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.banniere {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Back1.jpeg);
    background-size: cover; /* Modifié pour cover pour remplir la section */
    background-position: center;
    background-repeat: no-repeat;
}
.banniere::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Hauteur de la bordure dégradée */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}


.banniere .contenu {
    max-width: 70%;
    text-align: center;
    position: relative; /* Ajouté pour positionner l'image */
}

.banniere .contenu h2 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}

.contenu p:nth-child(2) {
    color: #fff;
    font-size: 1.2em;
}

.btn1,
.btn2 {
    font-size: 1em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1 {
    background: #fb911f;
}

.btn2 {
    background: #2a4963;
}

.btn1:hover,
.btn2:hover {
    letter-spacing: 4px;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    width: 48%;
}

.row .col50 h2 {
    margin-bottom: 20px;
}

.titre-texte {
    color: #000;
    font-size: 2em;
    font-weight: 300;
    text-transform: capitalize;
}

.titre-texte span {
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700;
}

.row .col50 img {
    height: 450px;
    width: 600px;
}

.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    margin-top: -100px;
}

.menu .contenu {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
    justify-content: center; /* Centre les éléments horizontalement */
}

.menu .contenu .box {
    position: relative;
    
    width: 20%;
    margin: 10px;
    perspective: 1000px;
}

.menu .contenu .box .imbox {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden; /* Ajout de cette ligne */
}



/*les images c1 et c2 tournent vers son verso blanc*/
.menu .contenu .box:nth-child(1):hover .imbox  {
    transform: rotateY(180deg);
    background: #fff;
}


/*zoom in */
.menu .contenu .box:nth-child(2):hover .imbox img {
    transform: scale(2.5); /* Zoom in the image */
    background: #fff; /* White background */
    transition: transform 0.5s ease; /* Smooth transition */
}
.menu .contenu .box:nth-child(3):hover .imbox {
    transform: rotateY(180deg);
    background: #fff;
}

.menu .contenu .box:nth-child(2):hover ~ .box:nth-child(3) .imbox img {
    transform: scale(0); /* Hide the image */
    opacity: 0; /* Make the image transparent */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}

.menu .contenu .box:nth-child(2):hover .imbox  {
    transform: rotateZ(90deg);
}

.menu .contenu .box .text {
    text-align: center;
    color: #111;}

.menu .contenu .box .text h3 {
    font-weight: 400;
}

.expert {
    margin-top: -100px;
}

.expert .contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.expert .contenu .box {
    width: 250px;
    margin: 15px;
}

.expert .contenu .box img {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.expert .contenu .box h3 {
    color: #111;
    font-weight: 400;
    text-align: center;
}

.temoignage {
    background-image: url(./img/bg2.jpg);
    background-size: cover;
}

.temoignage .contenu {
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.temoignage .contenu .box {
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}

.temoignage .contenu .box .imbox {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.temoignage .contenu .box .imbox img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.temoignage .contenu .box .text {
    text-align: center;
    color: #666;
    font-style: italic;
}

.temoignage .contenu .box .text h3 {
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

.blanc .titre-texte,
.blanc p {
    color: #fff;
}

.contact {
    background-image: url(./img/img-form.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
}

.contactform {
    padding: 75px 50px;
    background: #ffdfc2;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}

.contactform .inputboite {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact h2 {
    margin-left: 20%;
    color: #d37f25;
    font-size: 1.9em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea {
    width: 50%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputboite input[type="submit"] {
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding: 20px 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(228, 222, 222,);
    text-align: center;
}

.copyright p:nth-child(1) {
    color: #333;
}

.contact .titre-text span {
    color: #fb911f;
    font-size: 2em;
}

header.sticky {
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover {
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navbar li {
        margin-left: 0;
    }

    header .navbar li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }

    .navbar {
        display: none;
    }

    section {
        padding: 20px;
    }

    header .navbar.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #ffff;
        align-items: center;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url(./img/menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 30px;
    }

    .menuToggle.active {
        background-image: url(./img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-origin: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }
}

@media (max-width: 480px) {
    .banniere .contenu h2 {
        font-size: 2.2em;
        color: #fff;
    }

    .titre-texte {
        color: #000;
        font-size: 2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    .temoignage h2 {
        font-size: 1.1em;
    }

    .temoignage p {
        text-align: center;
    }
}

.menu .contenu .box .imbox img {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}


.logo-img {
    border-radius: 300%; /* Rend les bordures de l'image sous forme de cercle */
    width: 500px; /* Ajustez la largeur selon vos besoins */
    height: 500px; /* Ajustez la hauteur selon vos besoins */
}
/* Autres styles CSS */
.logo-container {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%); /* Centrer l'image horizontalement et verticalement */
}

header.hide {
    transform: translateY(-100%);
}

 /* le contenu de l'intro*/
 .intro {
    padding: 100px;
  }
  
  .contenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container {
    flex: 2;
    padding-right: 100px; /* Ajout d'un espace entre le texte et l'image */
    position: relative; /* Permet de positionner le carré par rapport à ce conteneur */
  }
  
  
  .image-container {
    flex: 1;
    margin-left: 20px; /* Ajout d'une marge à gauche de l'image */
  }
  
  .image-container video {
    max-width: 50%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  }
   
  /* du paragraphe de titre d'evenelent*/
  .text-container h2 {
    font-size: 2em;
    color: #e48e1d; /* Choisissez la couleur que vous préférez */
}

.intro .text-container p {
    font-size: 1.2em;
    color: #644521; /* Choisissez la couleur que vous préférez */
}

.social {
    display: flex;
    align-items: center; /* Alignez verticalement l'image et le champ "Nom" */
}

.social img {
    width: 20px; /* Ajustez la taille de l'image selon vos besoins */
    margin-right: 10px; /* Ajoutez une marge à droite pour séparer l'image du champ "Nom" */

    
}

/*image event effet*/
.event-img {
    /* Other styles for the image */
    opacity: 0; /* Initially hide the image */
    animation: slideIn 1s forwards; /* Apply the animation */
}

@keyframes slideIn {
    from {
        transform: translateX(100%); /* Start from the right side */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Move to its original position */
        opacity: 1;
    }
}
